// Specific CSS for your home-page
.search {
  text-align: center;
  left: 40px;
}

.box {
  color: black;
}

.datepicker {
      background-color: transparent !important;
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    text-overflow: ellipsis !important;
    font-size: 17px !important;
    text-align:center;
}

.banner-content {
    background: #ffffff !important;
    border-radius: 4px !important;
    padding: 32px !important;
    padding-bottom: 24px !important;
    width: 441px !important;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
    position: relative;
    right: 300px;
}

.banner-content p {
    font-size: 30px !important;
    line-height: 36px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin: 0px !important;
    padding: 0px !important;
  }

  .search_button {
    border-radius: var(--border-button-border-radius, 4px) !important;
    font-size: var(--font-button-font-size, 16px) !important;
    line-height: var(--font-button-line-height, 24px) !important;
    letter-spacing: var(--font-button-letter-spacing, normal) !important;
    font-family: var(--font-button-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
    text-transform: var(--font-button-text-transform, undefined) !important;
    padding-top: var(--spacing-button-vertical, 10px) !important;
    padding-bottom: var(--spacing-button-vertical, 10px) !important;
    font-weight: var(--font-bold-font-weight, 800) !important;
    border-width: var(--border-button-border-width, 2px) !important;
    padding-left: var(--spacing-button-horizontal, 22px) !important;
    padding-right: var(--spacing-button-horizontal, 22px) !important;
    box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
    background: var(--color-buttons-primary-color, #FF5A5F) !important;
    border-color: var(--color-buttons-primary-border, transparent) !important;
    color: var(--color-buttons-primary-text, #ffffff) !important;
  }
