h1{
  margin-bottom: 0px;
}
#uo_show{
  margin-top: 0;
  margin-bottom: 12.5px;
  padding-left: 0;
}
#book_btn{
  margin: 0 !important;
}

.container-profile {
  display: flex;
  text-align: center;
}

.car-details{
    border:2px solid #ded4da;
    padding:50px;
}

