<h1>CarBnB</h1>

<p>Search bar goes here</p>

<div class="container">
  <div class="row">
    <div class="search">
<%= form_tag(cars_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Cars" %>
<%= submit_tag "Search" %>
<% end %>
</div>
</div>
</div>
