<h1>CarBnB</h1>
  <div class="container">
    <div class="row">
    <div class="input-group input-daterange">
    <input id="startDate1" name="startDate1" type="text"
      class="form-control" readonly="readonly"> <span
      class="input-group-addon"> <span
      class="glyphicon glyphicon-calendar"></span>
    </span> <span class="input-group-addon">to</span> <input id="endDate1"
      name="endDate1" type="text" class="form-control" readonly="readonly">
    <span class="input-group-addon"> <span
      class="glyphicon glyphicon-calendar"></span>
    </span>
    </div>
</div>
</div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
         $('.input-daterange').datepicker({
                });
      });
    </script>
<div class="container">
  <div class="row">
    <div class="search">
      <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:location], placeholder: "Where" %>
            <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
</div>




<%= link_to "Cars List", cars_path %>
