.btn-navigation {
  color: #81C9E7;
  border: 2px solid #81C9E7;
  border-width: 3px;
  font-weight: bold;
  padding: 15px 25px;
}

.btn-navigation:hover {
color:#32B796;
border: 3px solid #32B796;
}

.sign_up_button {
     border-color: #ae142a;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #ae142a;
    padding: 5px 12px !important;
    margin: 5px 0px 0px 10px;
    border-radius: 3px;
}
.sign_up_button:hover {
  color: #FFF;
    background-color: #337AB7 !important;
    border-color: #2E6DA4 !important;
}

.sign_in_button {
  margin: 10px;
}

.add_car_button {

}


.bkbtn {
  font-weight: normal;
  width: 150px;
  font-size: 20px;
  background-color: lightgrey;
  // letter-spacing: 0.1rem;
  padding: 10px;
  margin-left: 100px;
  // cursor: pointer;
  border: 0;
  color: var(--white);
  border-radius: 50px;
  text-align: center;
}
