

.container-profile {
    padding:5%;
    width: 500px;
}
.container-profile  .img{
    text-align:center;
}
.container-profile .details{
    border-left:3px solid #ded4da;
}
.container-profile .details p{
    font-size:15px;
    font-weight:bold;
}
