
  <h1>All Saved Cars</h1>


  <div>
    <% @cars.each do |car| %>
    <div>
    <%= link_to car.model, car_path(car) %> </h2>
    <% end %>
    </div>
  </div>


  <br>

  <div>
    <%= link_to "Add a new Car", new_car_path, class: "btn-large"%>
  </div>



