
<h1>All Saved Cars</h1>


<div>
  <% @cars.each do |car| %>
  <div>
    <h2><%= link_to car.title, car_path(car)%></h2>
    <h4><%= car.model%></h4>
    <h4><%= car.location%></h4>
    <% end %>
  </div>
</div>


<br>

<div>
  <%= link_to "Add a new Car", new_car_path, class: "btn-large"%>
</div>




