<h1><%=  %>UserName</h1>
<button> Edit Profile    <i class="far fa-edit"></i></button>
<br>
<img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle">
<p>First Name</p>
<p>Last Name</p>
<p><%= @user.email %></p>
<p>phone number</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= link_to "My Bookings", profile_my_bookings_path %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= link_to "My Cars", profile_my_cars_path %>
      </div>
    </div>
  </div>
